<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---font awasome-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/studentlist.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="logo" id="logo">
        <h1><span class="fab fa-accusoft"></span><span> POWA</span></h1>
      </div>
      <ul>
        <li><a href="/student/reg_form">Home</a></li>
        <li><a href="/user/logout" class="sign-out-btn">Sign out</a></li>
      </ul>
    </nav>
    <div class="search_container">
      <form>
        <input type="text" name="search" id="search" placeholder="search...">
        <button><span class="fas fa-search"></span></button>
      </form>
    </div>
    <div class="container">
      <div class="category">
        <ul class="menu">
          <li><button  class="menu-item active" data-tab="recent" data-index="0"><span class="fas fa-clock"></span> recent</button></li>
          <li><button class="menu-item" data-tab="nursary" data-index="1"><span class="fas fa-th"></span> nursary</button></li>
          <li><button class="menu-item" data-tab="primary" data-index="2"><span class="fas fa-th-list"></span> primary</button></li>
          <li><button class="menu-item" data-tab="secondary" data-index="3"><span class="fas fa-graduation-cap"></span> secondary</button></li>
       </ul>
      </div>
     <div class="showlist">student list here</div>
    </div>
      </div>
    </div>
  </body>
  <script src='/js/studentlist.js'></script>
  <script>
    
  </script>
  
</html>
